# Dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
/.next/
/out/
.vinxi
.output
.react-router/
.tanstack/
.nitro/

# Deployment
.netlify
.wrangler

# Environment & local files
!.env.example
*.pem
*.local

# IDE
.vscode/*
!.vscode/extensions.json

# Other
dev-dist
.dev.vars*
.open-next
