# Dependencies
node_modules
.pnp
.pnp.js
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
dist
build
out
*.tsbuildinfo
next-env.d.ts
.vinxi
.output
.react-router/
.tanstack/
.nitro/
dev-dist
.open-next

# Environment variables
.env
.env*.local
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.example
.dev.vars
.dev.vars*

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/extensions.json
.idea
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
*.swp
*.swo
*~
.DS_Store
*.pem
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
_.log
report.[0-9]_[0-9]_[0-9]_[0-9]_.json

# Turbo
.turbo
.nx

# Better-T-Stack
.alchemy
.wrangler

# Testing
coverage
.nyc_output
*.lcov

# Misc
*.tgz
.cache
tmp
temp
.eslintcache

# Database
*.db*
/prisma/generated

# Mock data
packages/db/src/mock/
packages/db/src/mock-data.ts
packages/db/src/seed/
seed/

