# Database
DATABASE_URL=postgresql://username:password@localhost:5432/lms_db
DATABASE_URL_FOR_DOCKER=postgresql://postgres:password@db:5432/lms_db

# Better Auth
BETTER_AUTH_SECRET=chKidbt9wzE7DtWAsoHnJ49GvldYch2Q
BETTER_AUTH_URL=http://localhost:3000

# CORS
CORS_ORIGIN=http://localhost:3000

# Environment
NODE_ENV=development
