# prod
/out/

# dev
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.wrangler
/.next/
.vercel
prisma/generated/

# env
!.env.example
.dev.vars

# logs
pnpm-debug.log*

# misc
*.pem

# local db
*.db*

# typescript
next-env.d.ts
